(
    files:[ 
        // Command(["clock"]),
        Image("assets/giphy3.gif"),
        Text("hello world"),
        Markdown("assets/test.md"),
        Code("assets/test.rs", "rs"),
        Markdown("assets/test_table.md"),
        Code("assets/test.js", "js"),
        Text("hello world")
    ]
)